@import "tailwindcss";

:root {
  --green: #027373;
  --MidnightGreen: #075454;
  --magicMint: #A7F2D7;
  --lemonYellow: #F2E9BD;
  --buff: #F2D57E;
  --popstar: #933D49;
  --black: #000000;
  --brown: #231D06;
  --grey: #595959;
  --white: #FFFFFF;
  --linen: #EFEFE2;
  --codGray: #1C1C1C;
  --corcept-black: #231D06;
  --font-ptSansPro: "PT Sans Pro", sans-serif; /* This font is missing need to get from client*/
  --font-mundial: "mundial", sans-serif;
  --font-nicholas: "nicholas", serif;
  --font-ofelia: "ofelia-text", serif;
}

@theme inline {
  --color-green: var(--green);
  --color-MidnightGreen: var(--MidnightGreen);
  --color-magicMint: var(--magicMint);
  --color-lemonYellow: var(--lemonYellow);
  --color-buff: var(--buff);
  --color-popstar: var(--popstar);
  --color-black: var(--black);
  --color-brown: var(--brown);
  --color-grey: var(--grey);
  --color-white: var(--white);
  --color-linen: var(--linen);
  --color-codGray: var(--codGray);
  --color-corceptBlack: var(--corceptBlack);
  --font-ptSansPro: var(--font-ptSansPro);
  --font-mundial: var(--font-mundial);
  --font-nicholas: var(--font-nicholas);
  --font-ofeliaText: var(--font-ofeliaText);
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.blur-shadow {
  text-shadow:
  0px 0px 1px rgba(2, 115, 115, .8), 0px -1px 10px rgba(2, 115, 115, .6), 0 0 3px rgba(2, 115, 115, .4), 0 0 2px rgba(2, 115, 115, .2)
}

.container {
  max-width: 1095px;
  margin: 0 auto;
  padding: 0;
}
