@import "tailwindcss";

:root {
  --green: #027373;
  --MidnightGreen: #075454;
  --magicMint: #A7F2D7;
  --lemonYellow: #F2E9BD;
  --buff: #F2D57E;
  --popstar: #933D49;
  --popstar-light: #C25968;
  --rouge: #9C3971;
  --black: #000000;
  --brown: #231D06;
  --grey: #595959;
  --white: #FFFFFF;
  --linen: #EFEFE2;
  --codGray: #1C1C1C;
  --pineGreen: #037879;
  --font-ptSansPro: "PT Sans Pro", sans-serif; /* This font is missing need to get from client*/
  --font-mundial: "mundial", sans-serif;
  --font-nicholas: "nicholas", serif;
  --font-ofelia: "ofelia-text", serif;
}

@theme inline {
  --color-green: var(--green);
  --color-MidnightGreen: var(--MidnightGreen);
  --color-magicMint: var(--magicMint);
  --color-lemonYellow: var(--lemonYellow);
  --color-buff: var(--buff);
  --color-popstar: var(--popstar);
  --color-popstar-light: var(--popstar-light);
   --color-rouge: var(--rouge);
  --color-black: var(--black);
  --color-brown: var(--brown);
  --color-grey: var(--grey);
  --color-white: var(--white);
  --color-linen: var(--linen);
  --color-codGray: var(--codGray);
  --color-pineGreen: var(--pineGreen);
  --font-ptSansPro: var(--font-ptSansPro);
  --font-mundial: var(--font-mundial);
  --font-nicholas: var(--font-nicholas);
  --font-ofeliaText: var(--font-ofeliaText);
}

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.blur-shadow {
  text-shadow:
  0px 0px 1px rgba(2, 115, 115, .8), 0px -1px 5px rgba(2, 115, 115, .6), 0 0 3px rgba(2, 115, 115, .4), 0 0 2px rgba(2, 115, 115, .2)
}

.subTitleGradient{
  background: linear-gradient(118.87deg, #6DAC96 -30.92%, #116868 139.12%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  max-width: 1095px;
  margin: 0 auto;
  padding: 0;
}


